@font-face {
    font-family: 'GothamPro-reg';
    src: url('/dist/fonts/GothamPro-reg.woff2') format('woff2'),
         url('/dist/fonts/GothamPro-reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Light';
  src: url('/dist/fonts/GothamPro-Light.woff2') format('woff2'),
  url('/dist/fonts/GothamPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Black';
  src: url('/dist/fonts/GothamPro-Black.woff2') format('woff2'),
  url('/dist/fonts/GothamPro-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: url('/dist/fonts/GothamPro-Bold.woff2') format('woff2'),
  url('/dist/fonts/GothamPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Medium';
  src: url('/dist/fonts/GothamPro-Medium.woff2') format('woff2'),
  url('/dist/fonts/GothamPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-LightItalic';
  src: url('/dist/fonts/GothamPro-LightItalic.woff2') format('woff2'),
  url('/dist/fonts/GothamPro-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




@mixin GothamPro-reg {
    font-family: GothamPro-reg, sans-serif;
    font-weight: normal;
    font-style: normal;
}
@mixin GothamPro-Light {
  font-family: GothamPro-Light, sans-serif;
  font-weight: normal;
  font-style: normal;
}
@mixin GothamPro-Medium {
  font-family: GothamPro-Medium, sans-serif;
  font-weight: normal;
  font-style: normal;
}
@mixin GothamPro-Bold {
  font-family: GothamPro-Bold, sans-serif;
  font-weight: normal;
  font-style: normal;
}
@mixin GothamPro-Black {
  font-family: GothamPro-Black, sans-serif;
  font-weight: normal;
  font-style: normal;
}
@mixin GothamPro-LigIt {
  font-family: GothamPro-LightItalic, sans-serif;
  font-weight: normal;
  font-style: normal;
}





@mixin fontStyle($fz,$lh,$ls) {
    //font-size: $fz * 1px;
    font-size: ($fz / 10) *1rem;
    //line-height: $lh * 1px;
    line-height: ($lh / 10) *1rem;
    letter-spacing: $ls *1px;
}